.info {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 8px 10px;
    border-bottom: solid 1px var(--line);

    color: var(--secondary-white);

    &__title {
      margin: 0;
    }
  }

  &__datas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 14px;
    margin-bottom: 16px;
  }

  &__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;

    cursor: pointer;

    label {
      margin: 0 0 0 5px;
      color: var(--secondary-gray);
      cursor: pointer;
    }
  }
}
