.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 55px;

  border-bottom: solid 1px var(--line);

  color: var(--secondary-gray);
  font-size: 16px;

  z-index: 100;

  &__name {
    display: flex;
    align-items: center;

    padding: 0 22px;
    width: calc(310px - 44px);
    max-width: 310px;
    height: 55px;

    border-right: solid 1px var(--line);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    justify-content: space-between;

    &__name {
      border: 0;
    }
  }
}
