.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;

  background-color: rgba(#000, 0.5);
  z-index: 999;

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 50dvw;
    min-width: 700px;
    height: 70dvh;

    background-color: var(--primary-black-2);
    border: solid 1px var(--line);
    border-radius: 16px;

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100dvw;
    height: 100dvh;
    top: -15px;
    left: -17.5px;

    &__body {
      width: 96dvw;
      height: 90dvh;
      min-width: initial;
    }
  }
}
