.cta-button {
  padding: 10px 14px;

  border: 0;
  border-radius: 0.5em;

  font-size: 16px;

  &.default {
    background-color: var(--default-button-background);
    color: var(--secondary-white);
  }

  &.primary {
    background-color: var(--accent-orange);
    color: var(--primary-black);
  }

  &.ghost {
    background-color: transparent;
    color: var(--secondary-white);
    border: 1px solid var(--secondary-white);
  }
}
