.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 0 27px 38px;
  color: var(--secondary-gray);

  &__title {
    color: var(--secondary-white);
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 20px;

    &__profile-image {
      border-radius: 18px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &-name {
        color: var(--secondary-blue);
      }

      &-created-at {
        color: var(--secondary-gray);
        font-size: 12px;
      }
    }
  }

  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3px;

    top: 47px;
    right: 27px;

    color: var(--secondary-gray);
    cursor: pointer;

    &:hover {
      color: var(--secondary-white);
    }

    &-icon {
      &:hover {
        color: var(--secondary-white);
      }
    }
  }

  &__detail {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 5px;
    border-top: solid 1px var(--line);
    padding: 15px 0;

    word-break: break-all;

    &-body {
      max-width: 600px;
      width: 90%;

      line-height: 1.6;
    }

    &-close {
      cursor: pointer;
    }
  }
}
