.technologies-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  width: 100%;

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--secondary-gray);

    &--active {
      color: var(--secondary-white);
    }
  }
}
