.accordion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  padding: 14px;
}

.accordion {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    margin: 0 0 0 5px;
    color: var(--secondary-gray);

    &.open {
      color: var(--secondary-white);
    }
  }
}
