.contact-me {
  display: flex;
  width: 100%;
  height: calc(100dvh - 166px);

  &__infos {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 100%;

    border-right: solid 1px var(--line);
  }
}

@media screen and (max-width: 767px) {
  .contact-me {
    height: calc(100% - 1px);
  }
}
