.card {
  position: relative;
  width: 370px;
  height: 315px;

  background-color: var(--primary-black-3);
  border: solid 1px var(--line);
  border-radius: 20px;

  overflow: hidden;

  &__logo {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
  }

  &__image {
    position: relative;
    height: 145px;
    border-bottom: solid 1px var(--line);
  }

  &__description {
    position: relative;
    display: -webkit-box;
    margin: 30px 30px 20px 30px;
    height: 46px;

    color: var(--secondary-gray);

    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
  }

  &__button {
    padding: 0 20px 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
