.card {
  position: relative;
  width: 370px;

  background-color: var(--primary-black-3);
  border: solid 1px var(--line);
  border-radius: 20px;

  overflow: hidden;

  &__logo {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
  }

  &__image {
    position: relative;
    height: 145px;
    border-bottom: solid 1px var(--line);
  }

  &__description {
    position: relative;
    margin: 0;
    padding: 30px 30px 20px 30px;

    word-break: keep-all;
    color: var(--secondary-gray);
  }

  &__button {
    padding: 0 20px 30px 30px;
  }
}
