.cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  row-gap: 60px;

  padding: 80px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 calc(33.333%);

  max-width: calc(33.333%);
  height: 354px;
  color: var(--secondary-blue);

  @media (max-width: 1666px) {
    flex: 1 1 calc(50%);
    max-width: calc(50%);
  }

  @media (max-width: 1290px) {
    flex: 1 1 100%;
    max-width: 100%;
  }

  &__title-wrapper {
    display: flex;
    width: 370px;
    height: 24px;
  }

  &__title-no {
    width: 100px;
    font-weight: 600;
  }

  &__title {
    width: 270px;
    color: var(--secondary-gray);
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 40px;

    padding: 15px 27px;
  }

  .card-item {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__title {
      width: fit-content;
    }

    &__title-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2px 8px;

      width: 100%;
      height: fit-content;
    }
  }
}
