.showcase-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 20px 40px;
  height: calc(100dvh - 244px);
  overflow-y: auto;

  color: var(--secondary-gray);
}

.title {
  margin-bottom: 20px;
}
