// NOTE(hajae): 디자인상 현재 Light 모드가 없으므로 추후 추가
:root {
  --primary-black: #01080e;
  --primary-black-2: #011627;
  --primary-black-3: #011221;

  --secondary-gray: #607b96;
  --secondary-gray-rgb: 96, 123, 150;
  --secondary-green: #3c9d93;
  --secondary-blue: #4d5bce;
  --secondary-white: #ffffff;

  --accent-orange: #fea55f;
  --accent-green: #43d9ad;
  --accent-red: #e99287;
  --accent-pupple: #c98bdf;

  --line: #1e2d3d;
  --gradients-blue: #4d5bce;
  --gradients-green: #43d9ad;

  --default-button-background: #1c2b3a;
  --default-button-background-hover: #263b50;
  --primary-button-background: #fea55f;
  --primary-button-background-hover: #ffac6b;
  --ghost-button-border-hover: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] {
  --primary-black: #01080e;
  --primary-black-2: #011627;
  --primary-black-3: #011221;

  --secondary-gray: #607b96;
  --secondary-green: #3c9d93;
  --secondary-blue: #4d5bce;
  --secondary-white: #ffffff;

  --accent-orange: #fea55f;
  --accent-green: #43d9ad;
  --accent-red: #e99287;
  --accent-pupple: #c98bdf;

  --line: #1e2d3d;
  --gradients-blue: #4d5bce;
  --gradients-green: #43d9ad;

  --default-button-background: #1c2b3a;
  --default-button-background-hover: #263b50;
  --primary-button-background: #fea55f;
  --primary-button-background-hover: #ffac6b;
  --ghost-button-border-hover: rgba(255, 255, 255, 0.5);
}
