.mail-template {
  padding: 15%;
  width: 70%;

  color: var(--secondary-gray);

  &__body {
    display: flex;
    flex-direction: column;

    padding: 20px;
    min-width: 400px;
    background-color: var(--primary-black-3);
    border: solid 1px var(--line);
    border-radius: 16px;

    &__message {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 16px;

      &-bar {
        width: 3px;
        height: 58px;

        background-color: var(--secondary-gray);
        border-radius: 1px;
      }
    }
  }

  &__to {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 20px;

    font-size: 20px;

    h3 {
      margin-bottom: 0;
    }

    &-name,
    &-email {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__body {
        padding: 8px 20px;
        width: fit-content;

        border: solid 2px var(--line);
        background-color: var(--primary-black-3);
        border-radius: 12px;
      }
    }
  }
}
