.codebox-wrapper {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  animation: slideDown 0.7s ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.writer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-image {
  border-radius: 18px;
}

.name {
  color: var(--secondary-blue);
}

.post-info {
  display: flex;
  flex-direction: row;
  gap: 16px;

  height: 14px;
  cursor: pointer;

  > code {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    &:hover {
      color: var(--secondary-white);
    }
  }
}

.detail {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;
  border-top: solid 1px var(--line);
  padding: 15px 0;

  word-break: break-all;

  > code {
    max-width: 600px;
    width: 90%;

    line-height: 1.6;
  }

  > div {
    cursor: pointer;
  }
}
