@import '@/styles/colors.scss';
@import '@/styles/inputs.scss';
@import '@/styles/typography.scss';

button,
input {
  font-family: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-black-3);

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
