.page-wrapper {
  padding: 30px;
  width: calc(100vw - 60px);
  height: calc(100dvh - 60px);

  background-color: var(--primary-black);
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 60px);
  height: calc(100dvh - 60px);

  background-color: var(--primary-black-2);
  border: solid 1px var(--line);
  border-radius: 8px;
}
