.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

  width: 100%;
  height: calc(100% - 120px);
}

.background-blurs {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;

  .position1,
  .position2,
  .position3,
  .position4 {
    position: absolute;
    opacity: 0.8;
  }

  .blue {
    background-color: var(--gradients-blue);
    filter: blur(100px);
  }

  .green {
    background-color: var(--gradients-green);
    filter: blur(100px);
  }

  .position1 {
    top: 15%;
    left: 53%;
    width: 150px;
    height: 150px;
  }

  .position2 {
    top: 35%;
    left: 60%;
    width: 200px;
    height: 150px;
  }

  .position3 {
    top: 40%;
    left: 78%;
    width: 150px;
    height: 150px;
  }

  .position4 {
    top: 60%;
    left: 70%;
    width: 150px;
    height: 150px;
  }
}

.whoami {
  display: flex;
  flex-direction: column;

  z-index: 2;

  .hello {
    margin: 0;

    color: var(--secondary-white);
  }

  .name {
    margin: 0;

    font-weight: 300;
    color: var(--secondary-white);
  }

  .job {
    margin: 0 0 50px 0;

    font-weight: 400;
    color: var(--secondary-blue);
  }

  .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 10px;
    animation: blink 1s infinite;

    font-weight: 500;
    color: var(--secondary-white);
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }

  .comment {
    color: var(--secondary-gray);
  }

  .code {
    color: var(--secondary-blue);

    .valiable {
      color: var(--accent-green);
    }

    .equal {
      color: var(--secondary-white);
    }

    .value {
      color: var(--accent-red);
    }
  }
}

.game-box {
  position: relative;
  padding: 35px 30px;
  width: calc(510px - 60px);
  height: calc(475px - 60px);

  background: linear-gradient(
    145deg,
    var(--gradients-green2) 0%,
    var(--gradients-green2) 60%,
    var(--gradients-blue2) 100%
  );

  border: solid 1px var(--primary-black);
  border-radius: 10px;

  box-shadow: inset 0 2px 0 var(--secondary-gray);
  box-sizing: content-box;

  z-index: 100;

  .bolt-up-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .bolt-up-right {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .bolt-down-left {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }

  .bolt-down-right {
    position: absolute;
    bottom: 15px;
    right: 5px;
  }
}
