.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

  width: 100%;
  height: calc(100% - 120px);
}

.blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  &__item-1,
  &__item-2,
  &__item-3,
  &__item-4 {
    position: absolute;
    opacity: 0.8;
  }

  &__blue {
    background-color: var(--gradients-blue);
    filter: blur(100px);
  }

  &__green {
    background-color: var(--gradients-green);
    filter: blur(100px);
  }

  &__item-1 {
    top: 15%;
    left: 53%;
    width: 150px;
    height: 150px;
  }

  &__item-2 {
    top: 35%;
    left: 60%;
    width: 200px;
    height: 150px;
  }

  &__item-3 {
    top: 40%;
    left: 78%;
    width: 150px;
    height: 150px;
  }

  &__item-4 {
    top: 60%;
    left: 70%;
    width: 150px;
    height: 150px;
  }
}

.whoami {
  display: flex;
  flex-direction: column;

  z-index: 2;

  &__hello {
    margin: 0;

    color: var(--secondary-white);
  }

  &__name {
    margin: 0;

    font-weight: 300;
    color: var(--secondary-white);
  }

  &__job {
    margin: 0 0 50px 0;

    font-weight: 400;
    color: var(--secondary-blue);
  }

  .comment {
    color: var(--secondary-gray);
  }

  .code {
    color: var(--secondary-blue);

    &__valiable {
      color: var(--accent-green);
    }

    &__equal {
      color: var(--secondary-white);
    }

    &__value {
      color: var(--accent-red);
      cursor: pointer;
      word-break: break-all;
    }
  }
}

.game-box {
  position: relative;
  padding: 35px 30px;
  width: calc(510px - 60px);
  height: calc(475px - 60px);

  background: linear-gradient(
    145deg,
    var(--gradients-green2) 0%,
    var(--gradients-green2) 60%,
    var(--gradients-blue2) 100%
  );

  border: solid 1px var(--primary-black);
  border-radius: 10px;

  box-shadow: inset 0 2px 0 var(--secondary-gray);
  box-sizing: content-box;

  z-index: 100;
  animation: slideUp 0.7s ease-out;

  .bolt-up-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .bolt-up-right {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .bolt-down-left {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }

  .bolt-down-right {
    position: absolute;
    bottom: 15px;
    right: 5px;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .blur {
    &__item-1 {
      top: 23%;
      left: 15%;
      width: 100px;
      height: 100px;
    }

    &__item-2 {
      top: 35%;
      left: 40%;
      width: 150px;
      height: 150px;
    }

    &__item-3 {
      top: 46%;
      left: 20%;
      width: 100px;
      height: 100px;
    }

    &__item-4 {
      top: 60%;
      left: 40%;
      width: 150px;
      height: 150px;
    }

    &__blue {
      filter: blur(65px);
    }

    &__green {
      filter: blur(65px);
    }
  }

  .whoami {
    padding: 80px 20px 0;
    width: calc(100% - 40px);

    &__hello {
      margin-left: 10px;
    }

    &__name {
      font-size: 56px;
      letter-spacing: -2px;
    }

    &__job {
      margin: 0 0 100px 0;
      font-size: 20px;
      color: var(--accent-green);
    }
  }

  .game-box {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .game-box {
    display: none;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .main {
    height: calc(100% - 40px);
  }
}
