.footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  bottom: 0;
  width: 100%;
  height: 50px;

  border-top: solid 1px var(--line);

  color: var(--secondary-gray);
  font-size: 16px;

  &__find-me {
    display: flex;
    align-items: center;

    padding: 0 22px;
    width: calc(165px - 44px);
    height: 50px;

    border-right: solid 1px var(--line);
  }

  &__others {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100%;
  }
}

.social-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icon {
  border-right: solid 1px var(--line);
}

.github {
  display: flex;
  align-items: center;

  padding: 0 0 0 22px;
  border-left: solid 1px var(--line);
}

@media screen and (max-width: 767px) {
  .footer {
    &__find-me {
      width: 300px;
    }
  }

  .github {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    &__find-me {
      width: 150px;
    }
  }
}
