.project {
  display: flex;
  flex-direction: column;

  padding: 20px 0 0 20px;
  height: calc(100% - 127px);

  &__title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &__bar {
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--secondary-blue);
  }

  &__title {
    color: var(--secondary-gray);
    font-size: 18px;

    &--ko {
      font-weight: 600;
    }

    &--en {
      color: var(--secondary-gray);
      font-size: 16px;
    }
  }

  &__sub-title {
    color: var(--secondary-gray);
    font-size: 16px;
  }

  &__labels {
    display: flex;
    gap: 8px;

    margin-top: 8px;

    &__item {
      padding: 3px 12px;
      border: solid 2px var(--secondary-gray);
      border-radius: 32px;
      color: var(--secondary-gray);
      font-weight: 600;
    }
  }

  > hr {
    margin: 16px 0 4px -20px;
    width: calc(100% + 20px);
    height: 1px;

    background-color: var(--line);
    border: 0;
  }
}

@media screen and (max-width: 1023px) {
  // .footer {
  //   &__find-me {
  //     width: 150px;
  //   }
  // }
}
